.App-Header {
    display: flex;
    position: fixed;
    width: 100%;

    .h-spacer {
      width: 100%;
    }

    button {
        color: rgb(230,230,230,);
        border: none;
        width: 10%;
        transition: all .15s ease-in-out;
      
        &:focus {
          outline: none;
        }
      
        &:active {
          background-color: rgb(216, 140, 0);
        }
      
        &:hover {
          cursor: pointer;
        }

        img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
    }
}